header{
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
}

#savedHomes{
    margin-bottom: 30px;
    text-align: center;
}
#savedHomes li{
    list-style-type: none;
    margin-bottom: 20px;
}

#savedHomes .home_img{
    width: 80%;
}
#savedHomes .home_add, #savedHomes .home_img{
    margin-bottom: 20px;
}

