#savedHomes{
    /* margin-bottom: 75px; */
    text-align: center;
}
#savedHomes li{
    list-style-type: none;
    margin-bottom: 20px;
}

#savedHomes .home_img{
        width: 70%;
        margin-bottom: 15px;
}
#savedHomes .home_add, #savedHomes .home_img{
    margin-bottom: 20px;
}

.btn_addNotes, .btn_deleteHome{
    font-size: .6rem;
}

.btn_addHomes a{
    width: 50%;
    margin: 0 auto;
}

@media screen and (min-width:768px){
   
    .btn_addNotes, .btn_deleteHome{
        font-size: .875rem;
    }

    #savedHomes .home_img{
        width: 100%;
    }

    .btn_addHomes{
        margin-bottom: 94px;
    }

}

