*{
    margin:0;
    padding:0;
}

body{
    /* max-width: 980px; */
    font-family: 'Helvetica', sans-serif;
}

.clear				{ clear: both; }

/* Bootstrap styles override */
.container-fluid{
    padding: 0
}

.row{
    margin:0;
}
.navbar{
 margin-bottom: 0
}

.navbar-inverse .navbar-brand {
    color: #fcfcf9;
}
.navbar-inverse , footer{
    background-color: #263b54;;
    /* border-color: #080808; */
    border-radius: 0;
    padding: 20px;
}
/* Bootstrap slider overrides */
.carousel-caption {
    bottom: 10%;
}

.carousel-caption{
    color: #263b54;
    width: 56%;
}

.carousel-indicators li{
    border-color: #10b2c7;
}
/* End bootstrap overrides */

.titleName{
    font-size: 120%;
    font-style: italic;
    color:#10b2c7;
}


/* Feature section */
.features{
    background-color: #263b54;
    padding: 80px 0;
}

.feature{
    text-align: center;
    color: white;
}

/* End Features */

/* Begin Steps section */
.steps{
    margin: 50px auto;
    padding: 0 20px;
}

.steps >h3{
    text-align: center;
    margin-bottom: 20px;
}

.step{
    background-color: #10b2c7;
    border-radius: 10px;
    color: white;
    margin: 0 10px;
    width: 30%;
    text-align: center;
    }

/* End Steps section */

/* Footer */
footer{
    text-align: center;
}

.socialIcons, footer h5{
    margin-bottom: 20px;
}
.socialIcons a{
    margin: 0 10px;
}

.socialIcons .fa{
    font-size: 1em;
    color:#10b2c7;
}


.home_images{
    border: solid 2px;
    padding: 10px 5px;
    width:80%;
}

.home_images:nth-child(odd) img{
    float:left;
    margin-right: 10px;
}

.home_images:nth-child(even) img{
    float:right;
    margin-left: 10px;
}

.quote{
    margin-top: 20px;
}

/* Styles for the login modal window*/
#fm_login, #fm_signUp{
    display: none;
    width: 60%;
    background-color: #9fc4d1;
    padding: 15px;
    border-radius: 10px;
    position: absolute;
    left: 20%;
    top: 30%;
    right: 20%;
    z-index: 20;
    }

#fm_login fieldset	{ border: 0; }

#fm_login label	{ width: 115px; text-align: right; float: left; margin: 0 10px 0 0; padding: 9px 0 0 0; font-size: 16px; }

#fm_login input	{ 
    width: 220px; 
    display: block; 
    padding: 4px; 
    margin: 0 0 10px 0; 
    font-size: 18px;
    color: #3a3a3a; 
    font-family: Georgia, serif;
    }
#fm_login input[type=checkbox]{ 
    width: 20px; margin: 0; display: inline-block; 
    }
					  
#fm_login .button	{ background: url(images/button-bg.png) repeat-x top center; border: 1px solid #999;
					  -moz-border-radius: 5px; padding: 5px; color: black; font-weight: bold;
					  -webkit-border-radius: 5px; font-size: 13px;  width: 70px; }
#fm_login .button:hover		{ background: white; color: black; }

.fm_close{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.5em;
}

