*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    /* max-width: 980px; */
    font-family: 'Helvetica', sans-serif;
}

.clear				{ clear: both; }

/* Bootstrap styles override */
.container-fluid{
    padding: 0
}

.row{
    margin:0;
}

/* NavBAR styles */
.navbar-nav{
    margin-left: auto;
    margin-right: 0;
}
.navbar-light .navbar-text, 
.navbar .navbar-brand, 
.navbar-nav, .navbar-light .navbar-nav .nav-link {
    color: #fcfcf9;
}

.navbar-brand{
    font-size: 1.5rem;
}
.navbar-toggler{
    background-color: #9fc4d1;
}
.navbar , footer{
    background-color: #263b54;
    /* border-color: #080808; */
    border-radius: 0;
}

footer{
    padding: 20px;
}
.modal-footer{
    justify-content: center;
}
/* Bootstrap slider overrides */
.carousel{
    margin-top: 80px;
    border-bottom: solid 1px #263b54;
    margin-bottom: 20px;
}
.carousel-caption {
    bottom: 0;
}
.carousel-caption{
    color: #263b54;
    width: 60%;
}
.carousel-caption h5{
    font-size: .8rem;
}
.carousel-indicators li{
    border-color: #10b2c7;
}
/* End bootstrap overrides */

.titleName{
    font-size: 120%;
    font-style: italic;
    color:#10b2c7;
}


/* Feature section */
.features{
    background-color: #263b54;
    padding: 20px 0;
    margin-bottom: 20px;
}

.feature{
    text-align: center;
    color: white;
}

/* End Features */

/* Begin Steps section */
.steps{
    margin: 50px auto;
    padding: 0 20px;
    margin-bottom: 20px;
}

.steps >h3, .featuresTitle, .stepsTitle{
    text-align: center;
    margin-bottom: 20px;
}

.step{
    background-color: #10b2c7;
    border-radius: 10px;
    color: white;
    margin: 10px;
    padding: 10px;
    text-align: center;
    }

/* End Steps section */

/* Footer */
footer{
    text-align: center;
    color:#10b2c7;
}

.socialIcons, footer h5{
    margin-bottom: 20px;
    
}
.socialIcons a{
    margin: 0 10px;
}

.socialIcons .fa{
    font-size: 1em;
    color:#10b2c7;
}



/* Styles for the login modal window*/
#fm_login, #fm_signup{
    background-color: #9fc4d1;
    padding: 15px;
    border-radius: 10px;
    /* position: absolute;
    left: 20%;
    top: 30%;
    right: 20%;
    z-index: 20; */
    text-align:center;
    }

#fm_login fieldset, #fm_signup fieldset { 
    border: 0; 
    margin-bottom: 10px;
}

#fm_login label, #fm_signup label	{ 
    width: 115px; 
    float: left; 
    padding: 9px 0 0 0; 
    font-size: 16px;
    text-align: left; 
}

#fm_login input, #fm_signup input	{ 
    width: 220px; 
    display: block;
    padding: 4px; 
    margin: 0 0 10px 0; 
    font-size: 18px;
    color: #3a3a3a; 
    font-family: Georgia, serif;
    }
					  
#fm_login .button, #fm_signup .button
    { background: url(images/button-bg.png) repeat-x top center; 
    border: 1px solid #999;
    -moz-border-radius: 5px; 
    padding: 10px; 
    color: black; 
    font-weight: bold;
    -webkit-border-radius: 5px; 
    font-size: 16px;  
    width: 90px; 
}

#fm_login .button:hover, #fm_signup .button:hover{ 
    background: white; 
    color: black; }

.fm_close{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.5em;
}

.overlay{ 
}

/* **************MEDIA QUERIES************* */

@media screen and (min-width:768px){
    #fm_login .button, #fm_signup .button{
        margin: 0 auto;
    }

    #fm_login label, #fm_signup label	{ 
        width: 115px; 
        text-align: right; 
        float: left; 
        margin: 0 10px 0 85px; 
        padding: 9px 0 0 0; 
        font-size: 16px; 
    }

    .carousel-caption {
        bottom: 10%;
    }
    .carousel-caption h5 {
        font-size: 1.25rem;
    }
    .features {
        padding: 80px 20px;
    }
} /* End width 768px queries */