
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
/* html, body {
  height: 100%;
  margin: 0;
  padding: 20px;
} */

 
  #autocomplete {
    width: 40%;
  }
  .label {
    text-align: right;
    font-weight: bold;
    width: 100px;
    color: #303030;
  }
  #address {
    background-color: #f0f0ff;
    width: 480px;
    padding-right: 2px;
  }
  #address td {
    font-size: 10pt;
  }
  .field {
    width: 99%;
  }
  .slimField {
    width: 80px;
  }
  .wideField {
    width: 200px;
  }
  #locationField {
    background-color: #acb6c2;
    padding: 14px;
    margin: 10px auto 20px;
    width: 90%;
  }

  #locationField label{
      display: block;
  }

  #locationField input{
    width:100%;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

input::placeholder , .fm_userNotes input::placeholder {
    color: grey;
    font-style: italic;
    font-size: .8rem;
  }
#btn_searchHome{
    display: block;
    margin: auto;
}

/* #showError{
    margin-top: 10px;
} */
.showSearchForm, .fm_userNotes{
    display: none;
    padding: 14px;
    margin: 10px auto 50px;
    width: 90%;
    border: solid 1px;
    border-radius: 5px;
    color: white;
    background-color: #9fc4d1;
}

.showSearchForm fieldset{
    margin-bottom: 1em;
}

.showSearchForm legend, .fm_userNotes legend{
    text-align: center;
}

.showSearchForm a{
    color: #263b54;
    font-weight: bold;
}

.showSearchForm label, .fm_userNotes label {
    width: 40%;
    text-align: right;
    font-size: .8rem;
    font-weight: bold;
    margin-right: 10px;
    vertical-align: text-top;
}

.showSearchForm input, .showSearchForm textarea, .fm_userNotes input{
    border: none;
    padding: 5px;
    width: 50%;
    font-size: .8rem;
    color: white;
    background-color: #9fc4d1;
}

#zillowLink{
    text-align: center;
    font-size: 1.5rem;
}

#save_search, #btn_saveNotes, #btn_goToDashboard{
    margin: 1em auto;
    display: block;
}

.modal-content{
    border: solid 10px #263b54;
}

@media screen and (min-width:768px){
    form#showSearchForm {
        margin-bottom: 75px;
    }
    
    .showSearchForm label , .fm_userNotes label{
        width: 46%;
        font-size: 1.3rem;
        margin-right: 15px;
        vertical-align: top;
    }
    
    .showSearchForm input, .showSearchForm textarea,
    .fm_userNotes input, .fm_userNotes textarea{
        width: 50%;
        font-size: 1.3rem;
    }

    /* #save_search, #btn_goToDashboard {
        font-size: 1.4rem;
    } */


    #save_search, #btn_goToDashboard, #btn_saveNotes{
        display: inline-block;
        width: 39%;
        margin: 0 5%;
        font-size: 1.4rem;
    }

    .showSearchForm textarea{
        height: 33px;
        overflow: hidden;
        resize: none;
    }
    #showSaveResult{
        text-align: center;
        font-size: 1.2rem;
    }
}

@media screen and (min-width:1280px){
    .showSearchForm textarea{
        height: 40px;
    }
}