
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
/* html, body {
  height: 100%;
  margin: 0;
  padding: 20px;
} */

 
  #autocomplete {
    width: 40%;
  }
  .label {
    text-align: right;
    font-weight: bold;
    width: 100px;
    color: #303030;
  }
  #address {
    background-color: #f0f0ff;
    width: 480px;
    padding-right: 2px;
  }
  #address td {
    font-size: 10pt;
  }
  .field {
    width: 99%;
  }
  .slimField {
    width: 80px;
  }
  .wideField {
    width: 200px;
  }
  #locationField {
    background-color: #acb6c2;
    padding: 14px;
    margin: 10px auto 20px;
    width: 90%;
  }

  #locationField label{
      display: block;
  }

  #locationField input{
    width:100%;
    margin-bottom: 10px;
}

input::placeholder {
    color: grey;
    font-style: italic;
    font-size: .8rem;
  }
#btn_searchHome{
    display: block;
    margin: auto;
}

#showError{
    margin-top: 10px;
}
#showSearchForm{
    display: none;
    padding: 14px;
    margin: 10px auto 200px;
    width: 90%;
    border: solid 1px;
}

#showSearchForm legend{
    text-align: center;
}
#showSearchForm label{
    width: 40%;
    /* text-align : right; */
}
#showSearchForm input{
    border: none;
    width: 40%;
}

#showSearchForm input {
    width: 60%;
}

#zillowLink{
    text-align: center;
}

#save_search{
    margin: 5px auto;
    display: block;
}